<template>
  <v-app>
    <login v-if="!authenticated" v-on:authComplete="moveToMain" />
    <router-view :token="token" v-else/>
  </v-app>
</template>

<script>
import Cookies from 'js-cookie';
import Login from './views/Login';

export default {
  name: 'App',
  components: {
    Login,
  },
  data() {
    return {
      authenticated: false,
      token: undefined,
    };
  },
  created() {
    this.token = Cookies.get('token');
    if (this.token !== undefined) this.authenticated = true;
  },
  methods: {
    moveToMain(token) {
      this.token = token.data;
      this.authenticated = true;
    },
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
