<template>
  <div id="login-page">
    <v-tabs
      centered
      color="primary"
      dark
      icons-and-text
    >
      <v-tabs-slider color="yellow"></v-tabs-slider>

      <v-tab href="#tab-1">
        Login
        <v-icon>lock_open</v-icon>
      </v-tab>

      <v-tab href="#tab-2">
        Register
        <v-icon>perm_identity</v-icon>
      </v-tab>

      <v-tab-item
        v-for="i in 2"
        :key="i"
        :value="'tab-' + i"
      >
        <v-card id="auth-area">
          <template v-if="i === 1">
            <v-card-title primary-title><div class="headline">Login</div></v-card-title>
            <v-card-text>
              <form id="login-form">
                <v-text-field
                  v-model="username"
                  v-validate="'required'"
                  :error-messages="errors.collect('username')"
                  label="Username"
                  data-vv-name="username"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="password"
                  type='password'
                  v-validate="'required'"
                  :error-messages="errors.collect('password')"
                  label="Password"
                  data-vv-name="password"
                  required
                ></v-text-field>
                <v-btn color="primary" @click="loginSubmit">submit</v-btn>
                <v-btn flat @click="clear">clear</v-btn>
              </form>
            </v-card-text>
          </template>
          <template v-else-if="i === 2">
            <v-card-title primary-title><div class="headline">Register</div></v-card-title>
            <v-card-text>
              <form id="register-form">
                <v-text-field
                  v-model="username"
                  v-validate="'required'"
                  :error-messages="errors.collect('username')"
                  label="Username"
                  data-vv-name="username"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="password"
                  type='password'
                  v-validate="'required'"
                  :error-messages="errors.collect('password')"
                  label="Password"
                  data-vv-name="password"
                  required
                ></v-text-field>
                <v-btn color="primary" @click="registerSubmit">submit</v-btn>
                <v-btn flat @click="clear">clear</v-btn>
              </form>
            </v-card-text>
          </template>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
import { login, register } from '../api';

export default {
  name: 'Login',
  data() {
    return {
      username: '',
      password: '',
      dictionary: {
        custom: {
          username: {
            required: () => 'Username can not be empty',
          },
          password: {
            required: () => 'Password can not be empty',
          },
        },
      },
    };
  },
  methods: {
    async loginSubmit() {
      const isValid = await this.$validator.validateAll();

      if (isValid) {
        login(this.username, this.password).then((response) => {
          this.$emit('authComplete', response);
        }).catch(err => console.log(err));
      }
    },
    async registerSubmit() {
      const isValid = await this.$validator.validateAll();

      if (isValid) {
        register(this.username, this.password).then(() => {
          login(this.username, this.password).then((response) => {
            this.$emit('authComplete', response);
          }).catch(err => console.log(err));
        }).catch(err => console.log(err));
      }
    },
    clear() {
      this.username = '';
      this.password = '';
      this.$validator.reset();
    },
  },
  mounted() {
    this.$validator.localize('en', this.dictionary);
  },
};
</script>

<style scoped>
  #login-page {
  }
  #auth-area {
    text-align: center;
    margin: auto;
    margin-top:50px;
    width: 25%;
  }
  #login-form {

  }
  input {
    margin-bottom: 15px;
  }
</style>
