<template>
    <div id="main-content">
      <h1 id="budget-title">Budgeting categories</h1>
      <category-list v-if="loaded === true"></category-list>
      <h1 id="payment-title">Payment activities</h1>
      <activity-list v-if="loaded === true"></activity-list>
    </div>
</template>

<script>
import CategoryList from '../components/CategoryList';
import ActivityList from '../components/ActivityList';

export default {
  name: 'Main',
  props: ['token'],
  components: {
    CategoryList,
    ActivityList,
  },
  data() {
    return {
      loaded: false,
    };
  },
  async created() {
    if (this.token !== undefined) {
      await this.$store.dispatch('getCategories', this.token);
      await this.$store.dispatch('getActivities', this.token);
      this.$store.commit('setToken', this.token);
      this.loaded = true;
    }
  },
  watch: {
    async token(token) {
      await this.$store.dispatch('getCategories', token);
      await this.$store.dispatch('getActivities', token);
    },
  },
};
</script>

<style scoped>
  #main-content {
    margin-top: 90px;
  }
  #budget-title {
    margin-bottom: 25px;
  }

  #payment-title {
    margin-top: 50px;
    margin-bottom: 25px;
  }

</style>
