<template>
  <v-card id="activity-list">
    <v-card-text>
    <v-toolbar flat color="white">
      <v-spacer></v-spacer>
      <v-btn color="primary" @click="dialog = true">
        <v-icon>add</v-icon>
      </v-btn>
    </v-toolbar>
  <v-data-table
    :headers="headers"
    :items="activities"
    class="elevation-1"
    flat
  >
    <template v-slot:items="props">
      <td>{{ props.item.date }}</td>
      <td class="text-xs-right">{{ props.item.payee }}</td>
      <td class="text-xs-right">{{ props.item.memo }}</td>
      <td class="text-xs-right">{{ props.item.amount }} €</td>
    </template>
  </v-data-table>
    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="dialog = false">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Add Activity</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark flat @click="addActivity()">Save</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-list three-line subheader>
          <v-subheader>Activity details</v-subheader>
          <v-list-tile avatar>
            <v-list-tile-content>
              <v-menu
                ref="menu"
                v-model="menu"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="date"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="date"
                    label="Date"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="date" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                  <v-btn flat color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile avatar>
            <v-list-tile-content>
              <v-text-field label="Payee" prepend-icon="input" v-model="payee" required></v-text-field>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile avatar>
            <v-list-tile-content>
              <v-text-field label="Memo" prepend-icon="input" v-model="memo" required></v-text-field>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile avatar>
            <v-list-tile-content>
              <v-text-field label="Amount" prepend-icon="input" suffix="€" v-model="amount" required></v-text-field>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-divider></v-divider>
        <v-list subheader>
          <v-subheader>Import Options</v-subheader>
        </v-list>
      </v-card>
    </v-dialog>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'ActivityList',
  data() {
    return {
      dialog: false,
      payee: '',
      date: '',
      memo: '',
      amount: '',
      headers: [{ text: 'Date', value: 'date' }, { text: 'Payee', value: 'payee' }, { text: 'Memo', value: 'memo' }, { text: 'Amount', value: 'amount' }],
    };
  },
  methods: {
    addActivity() {
      this.dialog = false;

      this.$store.dispatch('addActivity', {
        token: this.$store.state.token,
        payee: this.payee,
        date: this.date,
        memo: this.memo,
        amount: this.amount,
      });

      console.log('added');
    },
  },
  computed: mapState(['activities']),
};
</script>

<style scoped>
  #activity-list {
    width: 50%;
    margin:auto;
  }
</style>
