<template>
  <div id="category-list">
    <v-expansion-panel
      expand
    >
      <v-expansion-panel-content
        v-for="category in Object.keys(categoriesSorted)"
        :key="category"
      >
        <template v-slot:header>
          <h3>{{ category }}</h3>
        </template>
        <v-card class="pb-5">
          <v-card-text>
            <v-toolbar flat color="white">
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="addCategory(category)">
                <v-icon>add</v-icon>
              </v-btn>
            </v-toolbar>
            <v-data-table
              :headers="headers"
              :items="$store.state.categoriesSorted[category]"
              item-key="id"
              :total-items="$store.state.categoriesSorted[category].length"
              hide-actions
            >
            <template v-slot:items="props">
              <td>
                <v-edit-dialog
                  lazy
                  large
                  @save="save(props.index, props.item, category)"
                  @cancel="cancel(props.index, props.item, category)"
                > <span v-if="props.item.name !== ''">{{ props.item.name }}</span> <span v-else class="placeholder">New Category</span>
                    <v-text-field
                      slot="input"
                      ref="nameInput"
                      v-model="props.item.name"
                      :rules="[max150chars]"
                      label="Edit"
                      hint="Name of category"
                      single-line
                      autofocus
                      counter
                    ></v-text-field>
                </v-edit-dialog>
              </td>
              <td class="text-xs-right">
                <v-edit-dialog
                  lazy
                  large
                  @save="save(props.index, props.item, category)"
                  @cancel="cancel(props.index, props.item, category)"
                >
                  <div>{{ props.item.budgeted }} €</div>
                    <v-text-field
                      slot="input"
                      ref="budgetInput"
                      v-model="props.item.budgeted"
                      suffix="€"
                      hint="Euros to budget"
                      label="Edit"
                      single-line
                    ></v-text-field>
                </v-edit-dialog>
              </td>
            </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'CategoryList',
  data() {
    return {
      headers: [{ text: 'Category', value: 'name' }, { text: 'Budgeted', value: 'budgeted' }],
      max150chars: v => v.length <= 150 || 'Name is too long',

    };
  },
  computed: mapState(['categoriesSorted']),
  methods: {
    async save(index, item, category) {
      const editItem = item;

      editItem.origName = item.name;
      editItem.origBudget = `${item.budgeted}`;

      await this.$store.dispatch('updateCategory', {
        token: this.$store.state.token,
        id: editItem.id,
        updateName: item.name,
        updateBudgeted: item.budgeted,
        commitObject: { parent: category, index, item: editItem },
      });
      // Force for now, no time to fix
      this.$forceUpdate();
    },
    cancel(index, item, category) {
      const editItem = item;

      editItem.name = item.origName;
      editItem.budgeted = item.origBudget;

      this.$store.commit('editCategory', category, index, editItem);
    },
    async addCategory(category) {
      await this.$store.dispatch('addEmptyCategory', { token: this.$store.state.token, parentName: category, parentCategory: this.categoriesSorted[category][0].parent_id });
      this.$forceUpdate();
    },
  },
};
</script>

<style scoped>
  #category-list {
    width: 50%;
    margin:auto;
  }
  .placeholder {
    color: #8f8a95;
  }
</style>
